
body {
    font-family: "Montserrat" sans-serif;
    font-style: regular;
  }

  main {
    text-align: center;
  }
  .container {
width: 1280px;
margin: 0 auto;
  }
  
  
  .menu {
    padding-bottom: 25.5px;
    padding-top: 25.5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }
  
  .menu-one {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-left: 72px;
    }
  
  .menu-point {
    display: inline-block;
    color: #ff0000;
    text-decoration: none;
    letter-spacing: 2.7px;
    font-weight: bold;

  }
  .picture_block {
height: 789px;
  }
  .picture {
    width: 100%;
  }

  .title_block {
width: 774px;
height: 29px;
margin-left: 254px;
  }
  .title {
    text-transform: uppercase;
    word-spacing: inherit;
    margin-top: 48px;
    margin-bottom: 38px;
    letter-spacing: 3.3px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
       
  }

  
  .part {
    text-align: center;
    padding-left: 67.5px;
    padding-right: 67.5px;
    
    letter-spacing: 2.4px;
    
  }
    .part-one {
    margin-top: 38px;
    line-height: 26px;
    margin-bottom: 0px;
    font-size: 16px;
    
    
  }
 
  .part-two {
    margin-top: 28px;
    margin-bottom: 0px;
    line-height: 26px;
    size: 16px;
  } 
    .btn {
    text-align: center;
    background: red;
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding-left: 42.5px;
    padding-right: 43.5px;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-top: 66px;
  }
  
   
    .signature {
    text-align: right;
    font-size: 16px;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
    
  }
   

 
